.music_item {
  margin: 10px;
  background: #282a36;
  width: 50%;
  border-radius: 15px;
  font-size: 20px;
  color: #ffa93c;
  font-weight: 500;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.music_item:hover {
  transform: scale(1.05);
}

.music_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
